<li>
	{{name}}

	<button class="eatBurger" data-id="{{id}}" data-state="{{ate}}">
		{{#if ate}}Before{{else}}After{{/if}}
	</button>

	<button class="burgerDel" data-id="{{id}}">
		DELETE
	</button>
</li>
